*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5EBDD;
}

/* Header */
nav {
    background-color: #EADAC8;
}

nav .nav-link {
    color: #4B3621;
}

nav .nav-link:hover {
    color: #2c1f15;
}


.navbar-brand {
    color: #4B3621;
}

.navbar-brand:hover {
    color: #2c1f15;
}

.navbar-toggler-icon {
    background-image: none; 
    width: 25px;
    height: 3px;
    background-color: #4B3621; 
    position: relative;
    transition: all 0.3s;
    border-radius: 5px;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #4B3621; 
    left: 0;
    transition: all 0.3s;
    border-radius: 5px;
}

.navbar-toggler-icon::before {
    top: -6px;
}

.navbar-toggler-icon::after {
    top: 6px;
}

/* Footer */
footer {
    padding: 2rem 0;
    text-align: center;
}

footer .nav-item a {
    color: #4B3621;
}

footer .nav-item a:hover {
    color: #362A1F;      
}

footer ul.nav {
    border-bottom: 2px solid #4b36216b !important;
    width: 60%;           
    margin: 0 auto 1rem auto; 
    padding-bottom: 0.5rem;
}

footer p {
    color: #4B3621;
    margin-top: 1rem;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 1rem;
}

footer a {
    text-decoration: none;
}

footer .social-icons img {
    width: 30px;
    height: 30px;
    color: #4B3621;
}

/* Hero */
.hero {
  text-align: center;
  padding: 4rem 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.hero p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

/* Inicio */
.hero{
    background-image: url("/Imagenes/hero_inicio.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.hero-buttons button {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 20px;
  background: #735945e3;
  cursor: pointer;
}

    /* Por qué elegirnos */
    .why-us {
        text-align: center;
        padding: 3rem 2rem;
    }

    .cards {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;
    }

    .card {
        max-width: 300px;     
        padding: 1.5rem;      
        border-radius: 15px;
        background: #e3d7bf33;     
        box-shadow: 0 4px 6px #e3d7bf; 
        text-align: center;
        flex: 1 1 250px;     
    }

    /* Destinos destacados */
    .fav-places {
        text-align: center;
        padding: 0.5rem 2rem;
    }

    .fav-places h2 {
        margin-bottom: 1rem; 
    }

    .fav-places p {
        margin-bottom: 0.5rem; 
    }

    .fav-places .cards-fav {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 1.5rem; 
        margin-bottom: 2rem; 
    }

    .fav-places .card {
        width: 18rem; 
        border-radius: 15px;
        background: #e3d7bf33;     
        box-shadow: 0 4px 6px #e3d7bf;
        text-align: left; 
    }

    .fav-places .card-location {
        margin-right: auto; 
        width: 20px; 
        height: 20px;
    }

    .fav-places .card-title {
        width: 100%; 
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
        text-align: center;
    }

    .fav-places .card-text {
        width: 100%; 
        font-size: 0.9rem;
        text-align: center;
    }

    .fav-places .card-link {
        color: #4B3621;
        font-weight: bold;
        text-decoration: none;
    }

    .fav-places .card-link:hover {
        color: #735945;
    }

    .fav-places button {
        margin-top: 1rem; 
        padding: 0.8rem 1.5rem;
        border: none;
        border-radius: 15px;
        background: #735945e3;
        cursor: pointer;
    }

/* Sobre Nosotros */
.hero{
    background-image: url("/Imagenes/hero_nosotros.jpeg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.mission-vision {
    text-align: center;
    padding: 1rem 2rem;
}

.values {
    text-align: center;
    padding: 1rem 2rem;
}


