@use './variables.scss';

nav {
    background-color: variables.$color-principal;
    .nav-link {
    color: #4B3621;
    }
    
    .nav-link:hover {
    color: #2c1f15;
    }

    .navbar-brand {
    color: #4B3621;
    }

    .navbar-brand:hover {
        color: #2c1f15;
    }

    .navbar-toggler-icon {
        background-image: none; 
        width: 25px;
        height: 3px;
        background-color: #4B3621; 
        position: relative;
        transition: all 0.3s;
        border-radius: 5px;
    }

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 3px;
        background-color: #4B3621; 
        left: 0;
        transition: all 0.3s;
        border-radius: 5px;
    }

    .navbar-toggler-icon::before {
        top: -6px;
    }

    .navbar-toggler-icon::after {
        top: 6px;
    }
}
