@use './header.scss';
@use './footer.scss';
@use './hero.scss';
@use './pages/index.scss';
@use './pages/aboutUs.scss';
@use './pages/explore.scss';
@use './pages/questions.scss';
@use './pages/contact.scss';

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5EBDD;
}

